DiscordClientID=
DiscordClientSecret=
DiscordAppToken=
DiscordBotToken=

DiscordAdminRole=
DiscordChannelID=
DiscordGuildID=
AdminRoleID=

ClientRedirectUrl=

PfxPath=
PfxSecret=

SessionSecret=

ClientHostname=
ServerHostname=
CookieDomain=
