node_modules
coverage
stories
storybook-static
playwright-report
test-results
docs
.prettierignore
.stylelintignore
.eslintignore
.nyc_output
.husky
.next
.yarn
dist/**
public/**

*.log
*.cjs

junit.xml
