:root {
    --main-bg-color: #0c0c11;

    --almost-white: #ebeaff;
    --white-gray: #d9d8e2;
    --off-white: #cbcbdb;

    --lightest-gray: #848485;
    --lighter-gray: #797981;
    --light-gray: #676770;

    --mid-gray: #5a5a5a;
    --dark-gray: #3a3a3a;
    --darker-gray: #232326;
    --darkest-gray: #1a1a1a;

    --sait: var(--discord-safe-area-inset-top, env(safe-area-inset-top));
    --saib: var(--discord-safe-area-inset-bottom, env(safe-area-inset-bottom));
    --sail: var(--discord-safe-area-inset-left, env(safe-area-inset-left));
    --sair: var(--discord-safe-area-inset-right, env(safe-area-inset-right));
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: var(--main-bg-color);
}

#body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

#frame {
    width: 100%;
    height: 100%;
}

#main {
    z-index: 0;
    width: 100%;
    height: calc(90vh - 8em);
    padding: 4em 0em;
    background-color: var(--main-bg-color);
    margin-left: var(--sail);
    margin-right: var(--sair);
}

#main>* {
    margin: 0 1vw;
}

h1 {
    color: white;
    font-size: 3vmax;
}

h2 {
    color: var(--lightest-gray);
    font-size: 1.5vmax;
}

h3 {
    color: var(--mid-gray);
    font-size: 1vmax;
}

h4 {
    color: var(--light-gray);
    font-size: 1.25vmax;
    margin: 0;
    padding: 0;
    text-align: right;
    margin-right: 1.05vw;
}

#setInfo {
    margin-left: 1vw;
}

input[type="checkbox"] {
    display: grid;
    width: 2vw !important;
    height: 2vw !important;
    margin: 0;
    border: 0.15em solid var(--dark-gray);
    border-radius: 0.15em;
    background-color: #fff;
    transform: translateY(-0.075em);
    -webkit-appearance: none;
    appearance: none;
    place-content: center;
}

input[type="checkbox"]::before {
    width: 1vw;
    height: 1vw;
    background-color: #000;
    content: "";
    transform: scale(0);
    clip-path: polygon(0% 0%, 0 100%, 100% 100%, 100% 0%, 0% 0%);
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

.flex {
    display: flex;
}

.responsive-center {
    align-items: center;
}

.flex-responsive {
    flex-direction: row;
}

.center {
    align-items: center;
    justify-content: center;
}

#cover {
    min-width: 0;
    height: 70vh;
    object-fit: contain;
}

#bottomBar {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 10%;
    background-color: var(--darker-gray);
}

#bottomBar>div {
    display: flex;
    align-items: center;
}

#time {
    color: var(--almost-white);
}

.playerInfo {
    font-size: 1.25vmax;
    justify-content: center;
    margin-top: -0.5vh;
}

#bottomBar img:hover {
    filter: brightness(0.5);
}

#quality-button:hover img {
    filter: brightness(0.5);
}

#progressbar {
    position: relative;
    width: 100%;
    height: 1vh;
    margin-top: 1.5vh;
    background-color: var(--mid-gray);
}

#buffered,
#filled {
    position: absolute;
    z-index: 2;
    height: 100%;
    transition-duration: 0.5s;
}

#filled {
    background-color: var(--off-white);
}

#buffered {
    background-color: var(--lighter-gray);
}

#volumeSlider {
    position: relative;
    width: 100%;
    height: 1vh;
    margin-left: 1vw;
    background-color: var(--light-gray);
}

#volumeSlider input {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0.2em;
    outline: none;
    background: transparent;
    -webkit-appearance: none;
    appearance: none;
}

#volumeSlider input::-webkit-slider-thumb {
    width: 2.15vh;
    height: 2.15vh;
    background: var(--off-white);
    box-shadow: 0 0 0 3px var(--darkest-gray);
    cursor: pointer;
    transition: box-shadow 0.5s;
    -webkit-appearance: none;
}

#volumeSlider input:hover::-webkit-slider-thumb {
    box-shadow: 0 0 0 4px var(--dark-gray);
}

#volumeSlider input:active::-webkit-slider-thumb {
    box-shadow: 0 0 0 3px var(--mid-gray);
}

#volumeSlider div {
    position: absolute;
    z-index: 1;
    left: 0;
    width: 50%;
    height: 100%;
    background: var(--off-white);
}

#settings-panel {
    display: flex;
    justify-content: center;
    width: 25%;
    padding: 0 2vw;
    gap: 1.85vw;
}

#visualiser-button {
    order: 1;
    height: 6vh;
    cursor: pointer;
}

#quality-button {
    position: relative;
    display: flex;
    align-items: center;
    order: 2;
    cursor: pointer;
}

#settings-button {
    order: 3;
    height: 6vh;
    cursor: pointer;
}

#statusInfo {
    position: absolute;
    top: 3.5vh;
    right: 1vw;
}

.statusIndicator .status {
    width: 2.5vmax;
    height: 2.5vmax;
    box-sizing: content-box;
    border-radius: 50%;
    background-color: var(--light-gray);
}

.statusIndicator .statusText {
    display: flex;
    align-items: center;
    height: 2.27vmax;
    padding: 0;
    margin: 0;
    margin-right: 1vw;
    color: var(--light-gray);
    text-align: right;
    font-size: 1.2vmax;
    font-weight: bold;
}

.dropdown {
    position: absolute;
    z-index: 3;
    right: 0vw;
    bottom: 105%;
    flex-direction: column;
    padding: 0;
    margin: 0;
    margin-bottom: 2vh;
    text-align: center;
    font-size: 1.5vmax;
}

.dropdown div:not(.dropdownSelected):hover {
    cursor: pointer;
    filter: brightness(0.65);
}

#quality-button:has(div:hover) img {
    filter: brightness(1);
}

.line {
    position: absolute;
    z-index: 20;
    right: 0;
    bottom: 0.2vmax;
    width: 0.2vmax;
    height: 79%;
    background-color: var(--white-gray);
}

.spaceFiller {
    height: 5px;
}

.dropdown div:not(.line):not(.horizontalLine) {
    position: relative;
    padding: 0.5vh 0;
    margin: 0;
    margin-right: 1.5vmax;
    text-align: right;
}

.horizontalLine {
    position: absolute;
    right: -1.5vmax;
    bottom: 38%;
    width: 1vmax;
    height: 0.23vmax;
    padding: 0 !important;
    margin: 0 !important;
    background-color: var(--white-gray);
}

.dropdownSelected {
    color: var(--mid-gray) !important;
    cursor: not-allowed;
}

.dropdownSelected>.horizontalLine {
    background-color: var(--mid-gray) !important;
    cursor: not-allowed;
}

.overlay {
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    margin: 0 !important;
    background: rgba(0, 0, 0, 0.9);
    text-align: center;
}

.mobileOnly {
    display: none;
}

.visualiser {
    position: relative;
    overflow: hidden;
    width: 40vw;
    height: 30vh;
    margin-top: 4vh;
    margin-left: -0.75vw;
}

#setInfo h1,
#setInfo h2 {
    overflow: hidden;
    max-width: 40vw;
}

#visualiserBg {
    position: absolute;
    z-index: 1;
    top: 0;
    left: -2%;
    width: 104%;
    height: 100%;
    background: linear-gradient(to right,
            var(--main-bg-color) 0%,
            var(--main-bg-color) 3%,
            rgba(12, 12, 17, 0) 15%,
            rgba(12, 12, 17, 0) 85%,
            var(--main-bg-color) 97%,
            var(--main-bg-color) 100%);
}

.overlay h2 {
    color: lightgray;
}

.overlay input {
    width: 4vw;
    font-size: 1em;
}

.hoverBtn:hover {
    opacity: 0.7;
}

.numberInput {
    font-size: 1.2vmax;
}

#versionIndicator {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 1.5vh;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.15vmax;
    text-align: center;
}

#connectedInfo {
    display: flex;
    flex-direction: row;
    height: 2vmax;
    align-items: center;
    float: right;
    margin-top: 1.5vh;
    margin-right: 0.125vw;
}

#connectedInfo img {
    height: 2.25vmax;
    width: 2.25vmax;
}

/* minimized screen */
@media screen and (max-height: 360px) {
    .fullOnly {
        display: none !important;
    }

    h1 {
        font-size: 5vmax;
    }

    h2 {
        font-size: 3vmax;
    }

    h3 {
        font-size: 1.2vmax;
    }

    h4 {
        font-size: 2.15vmax;
    }

    .playerInfo {
        width: 95% !important;
        margin-top: -2.25vh;
        font-size: min(6vmin, 5.65vh) !important;
        gap: 1.25vh;
    }

    #progressbar {
        height: 5.5vh !important;
    }

    #settings-panel {
        display: none !important;
    }

    #main {
        z-index: -2;
        justify-content: space-between;
        height: 78vh;
        padding: 0;
    }

    #bottomBar {
        z-index: -1;
        justify-content: center !important;
        height: 22vh;
    }

    #setInfo {
        flex-grow: 1;
        width: 50vw;
        max-height: 78vh;
        margin: 0;
        margin-left: 1.25vw;
    }

    #setInfo h1,
    #setInfo h2 {
        max-width: 45vw;
    }

    #cover {
        height: calc(78vh - 4vw);
        margin: 2.15vw 2vw 1.75vw 2.15vw;
        object-position: left;
    }

    #statusInfo {
        margin: -0.5vh 1vw;
    }

    #connectedInfo {
        margin-top: 2vh;
    }

    #connectedInfo img {
        width: 3vmax;
        height: 3vmax;
        margin-left: 0.25vw;
    }

    .statusIndicator .status {
        width: 3.5vmax;
        height: 3.5vmax;
    }

    .statusIndicator .statusText {
        height: 3vmax;
        font-size: 2.15vmax;
    }

    .visualiser {
        width: 45vw;
        margin-left: -1.25vw;
    }

    #versionIndicator {
        font-size: 1.75vmax;
    }
}

/* square pc */
@media screen and (max-width: 760px) and (min-width: 501px) and (min-height: 361px) {
    .playerInfo {
        font-size: 2vmax !important;
    }

    .statusText {
        margin-top: -0.075vmax !important;
        font-size: 1.5vmax !important;
    }
}

/* mobile */
@media screen and (min-height: 361px) and (max-width: 500px) {
    .flex-responsive {
        flex-direction: column;
    }

    .responsive-center {
        justify-items: center;
    }

    .fullOnly {
        display: none !important;
    }

    #body {
        height: 100dvh;
    }

    #main {
        justify-content: start;
        height: calc(80% - var(--saib));
        padding: 0;
        margin-top: var(--sait);
    }

    #cover {
        width: 90vw;
        height: auto;
        margin: 5vw 0;
    }

    #bottomBar {
        justify-content: start !important;
        padding-top: 1em;
        height: calc(20% + var(--saib));
        background: linear-gradient(0deg, rgb(0, 0, 0) var(--saib), var(--darker-gray) calc(var(--saib) + 6px), var(--darker-gray) 100%);
    }

    #main>div {
        width: 100%;
        text-align: center;
    }

    .playerInfo {
        width: 95% !important;
        font-size: 2.5vmax !important;
    }

    #progressbar {
        width: 95%;
        height: 2vh !important;
        margin-top: 1.5vh;
    }

    #settings-panel {
        flex-direction: row !important;
        justify-content: space-around;
        width: 80%;
        padding: 0;
        margin-top: 3.5vh;
        gap: 0;
    }

    #visualiser-button {
        order: 2;
    }

    #quality-button {
        order: 1;
    }

    #settings-button {
        order: 3;
    }

    h1 {
        font-size: 5vmax;
    }

    h2 {
        font-size: 2.5vmax;
    }

    #setInfo h1,
    #setInfo h2 {
        max-width: 90vw;
        margin-left: 5vw;
        margin-right: 5vw;
        text-align: center;
    }

    #setInfo {
        margin-top: -2vh;
        margin-left: 0;
    }

    .mobileOnly {
        display: flex;
        align-items: center;
        width: 40vw;
        height: 5vh;
        margin-bottom: 1vh;
        font-size: 3vmax;
    }

    .visualiser {
        width: 90%;
        height: 10vh;
        margin: 0 auto;
        margin-top: 6vh !important;
    }

    .numberInput {
        display: flex;
        flex-direction: row !important;
        font-size: 3vmax;
    }

    .numberInput input {
        width: 100%;
    }

    .numberInput .button {
        width: 3em;
        height: 2em;
    }

    .overlay h2 {
        font-size: 3vmax;
    }

    h3 {
        font-size: 2vmax;
    }

    h3.visualiser {
        padding-top: 3vh;
    }

    .statusIndicator .status {
        width: 2vmax;
        height: 2vmax;
    }

    .statusIndicator {
        position: relative;
        top: 0;
        flex-direction: row !important;
        margin: 0 2vw;
    }

    .statusText {
        display: none !important;
    }

    #versionIndicator {
        top: 77vh;
        font-size: 1.85vmax;
        text-wrap: nowrap;
    }

    #connectedInfo {
        flex-direction: row-reverse;
        margin: 0;
        height: 3.15vmax;
    }

    #connectedInfo img {
        width: 2.5vmax;
        height: 2.5vmax;
        margin-top: 0.25vh;
        margin-bottom: -0.25vh;
    }

    h4 {
        font-size: 2vmax;
        margin-left: 1vw;
        margin-right: 0.5vw;
        margin-bottom: -0.5vh;
    }
}

/* minimized widescreen/small window widescreen */
@media screen and (min-aspect-ratio: 7/3) and (max-height: 360px) {

    h1,
    h2 {
        float: left;
        width: 40%;
    }

    h2:not(#loadingDesc) {
        position: absolute;
        top: 40vh;
    }

    #loadingTitle,
    #loadingDesc {
        text-align: center;
    }

    .visualiser {
        width: 50%;
    }

    h1 {
        font-size: 12vmin;
    }

    h2 {
        font-size: 8vmin;
    }

    #connectedInfo {
        margin-top: 2.5vh;
    }
}

/* Scopes specific to Discord */
/* discord picture in picture (minimized) */
@scope (.grid, .pip) {
    .fullOnly {
        display: none !important;
    }

    h1 {
        font-size: 5vmax;
    }

    h2 {
        font-size: 3vmax;
    }

    h3 {
        font-size: 1.2vmax;
    }

    h4 {
        font-size: 2.15vmax;
    }

    .playerInfo {
        width: 95% !important;
        margin-top: -2.25vh;
        font-size: min(6vmin, 5.65vh) !important;
        gap: 1.25vh;
    }

    #progressbar {
        height: 5.5vh !important;
    }

    #settings-panel {
        display: none !important;
    }

    #main {
        position: relative;
        z-index: -2;
        justify-content: space-between;
        height: 78vh;
        padding: 0;
    }

    #bottomBar {
        position: relative;
        z-index: -1;
        justify-content: center !important;
        height: 22vh;
    }

    #setInfo {
        flex-grow: 1;
        width: 50vw;
        max-height: 78vh;
        margin: 0;
        margin-left: 1.25vw;
    }

    #setInfo h1,
    #setInfo h2 {
        max-width: 45vw;
    }

    #cover {
        height: calc(78vh - 4vw);
        margin: 2.15vw 2vw 1.75vw 2.15vw;
        object-position: left;
    }

    #statusInfo {
        margin: -0.5vh 1vw;
    }

    #connectedInfo {
        margin-top: 2vh;
    }

    #connectedInfo img {
        width: 3vmax;
        height: 3vmax;
        margin-left: 0.25vw;
    }

    .statusIndicator .status {
        width: 3.5vmax;
        height: 3.5vmax;
    }

    .statusIndicator .statusText {
        height: 3vmax;
        font-size: 2.15vmax;
    }

    .visualiser {
        width: 45vw;
        margin-left: -1.25vw;
    }

    #versionIndicator {
        font-size: 1.75vmax;
    }

    #frame {
        outline: 3px auto rgba(0, 0, 0, 0.5);
        outline-offset: -3px;
    }
}

/* discord mobile picture in picture (minimized) */
@scope (.pip.mobile) {
    #frame {
        border-radius: 1.5em;
    }

    .flex-responsive {
        flex-direction: column;
    }

    .responsive-center {
        justify-items: center;
    }

    #main {
        height: 100vh;
    }

    #statusInfo {
        display: none;
    }

    #cover {
        height: 100%;
        margin: 0;
        object-position: left;
    }

    #setInfo {
        display: none;
    }

    #setInfo h1,
    #setInfo h2 {
        max-width: 100vw;
        text-align: center;
    }

    .visualiser {
        display: none !important;
    }

    #bottomBar {
        height: auto;
        gap: 0;
        justify-content: flex-end !important;
        background-color: rgba(0, 0, 0, 0) !important;
    }

    #time {
        z-index: 1;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        font-weight: bolder;
        font-size: 7vmin !important;
    }

    #progressbar {
        position: absolute;
        bottom: 0;
        background-color: #00000000;
        backdrop-filter: invert(100%);
        margin: 0;
        height: 12vh !important;
    }

    #buffered {
        filter: invert(1);
        background-color: #00000045;
    }

    #filled {
        background-color: #0000008c;
    }

    .playerInfo {
        width: 100% !important;
        margin: 0;
    }

    .playerInfo>div {
        position: absolute;
        bottom: 0.2em;
    }
}

@scope (.grid.mobile) {
    #frame {
        border-radius: 10px;
    }
}

@scope (.pip.desktop) {
    body {
        border-radius: 8px;
    }
}