* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

#body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

#main {
    background-color: #0c0c11;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 90%;
    justify-content: center;
    align-items: center;
}

#main>* {
    margin: 0 1vw;
}

h1 {
    color: white;
    font-size: 3vmax;
}

h2 {
    color: #848485;
    font-size: 1.5vmax;
}

#main img {
    object-fit: contain;
    height: 80vh;
}

#bottomBar {
    background-color: #232326;
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#bottomBar>div {
    justify-content: center;
    display: flex;
    align-items: center;
    color: #ebeaff;
    font-size: 1.25vmax;
}

#progressbar {
    position: relative;
    width: 100%;
    height: 1vh;
    background-color: #505056;
    margin-top: 1vh;
}

#filled {
    position: absolute;
    height: 100%;
    background-color: #cbcbdb;
    z-index: 2;
}

#buffered {
    position: absolute;
    height: 100%;
    background-color: #797981;
    z-index: 1;
}

#volumeSlider {
    width: 50%;
    height: 1vh;
    background-color: #676770;
    margin-left: 1vw;
}

#draggable {
    height: 2vh;
    width: 2vh;
    z-index: 1;
    cursor: pointer;
    background-color: #c8c7d8;
    margin-top: -0.5vh;
    margin-left: -0.5vh;
    position: relative;
}

#dropdown {
    display: none;
    position: absolute;
    flex-direction: column;
    z-index: 1;
    width: 100%;
    margin: 0;
    padding: 0;
    right: 0vw;
    bottom: 105%;
    text-align: center;
}

#dropdown div {
    width: 100%;
    outline: 2px solid #5a5a61;
    background-color: #38383d;
    margin: 0;
    padding: 0.5vh 0;
}

#dropdown div:hover {
    background-color: #5a5a61;
}

#dropdownBtn {
    margin-left: 1vw;
    font-size: 1em;
    background-color: #38383d;
    color: #c2c2d3;
    border: none;
    outline: 2px solid #5a5a61;
    cursor: pointer;
    position: relative;
    padding: 0.2vh 0.2vw;
}

#dropdownBtn:hover {
    background-color: #5a5a61;
}

#dropdownBtn:hover #dropdown {
    display: flex;
}

.dropdownSelected {
    background-color: #202022 !important;
    color: #5a5a61 !important;
    cursor: not-allowed;
}

@media screen and (max-height: 400px) {
    .fullOnly {
        display: none !important;
    }

    .alwaysVisible {
        width: 95% !important;
    }

    #progressbar {
        height: 4vh !important;
    }

    #bottomBar {
        justify-content: center !important;
    }
}

@media screen and (min-height: 401px) and (max-width: 500px) {
    * {
        flex-direction: column !important;
    }

    .fullOnly {
        display: none !important;
    }

    #main img {
        width: 90vw;
    }

    #main {
        height: 85%;
    }

    #bottomBar {
        height: 15%;
        justify-content: center !important;
    }

    #main div {
        margin-bottom: 10vh;
    }

    .alwaysVisible {
        width: 95% !important;
        font-size: 3vmax !important;
    }

    #progressbar {
        height: 4vh !important;
    }

    h1 {
        font-size: 5vmax;
    }

    h2 {
        font-size: 2.5vmax;
    }
}