* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #0c0c11;
    overflow: hidden;
}

#body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

#main {
    background-color: #0c0c11;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 4em 0em;
    height: calc(90vh - 8em);
    justify-content: center;
    align-items: center;
}

#main>* {
    margin: 0 1vw;
}

h1 {
    color: white;
    font-size: 3vmax;
}

h2 {
    color: #848485;
    font-size: 1.5vmax;
}

h3 {
    color: #5a5a5a;
    font-size: 1vmax;
}

#cover {
    min-width: 0;
    object-fit: contain;
    height: 100%;
}

#bottomBar {
    background-color: #232326;
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#bottomBar>div {
    justify-content: space-between;
    display: flex;
    align-items: center;
    color: #ebeaff;
    font-size: 1.25vmax;
}

#progressbar {
    position: relative;
    width: 100%;
    height: 1vh;
    background-color: #505056;
    margin-top: 1vh;
}

#filled {
    position: absolute;
    height: 100%;
    background-color: #cbcbdb;
    z-index: 2;
    transition-duration: 0.2s;
}

#buffered {
    position: absolute;
    height: 100%;
    background-color: #797981;
    z-index: 1;
    transition-duration: 0.2s;
}

#volumeSlider {
    width: 100%;
    height: 1vh;
    background-color: #676770;
    margin-left: 1vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#volumeSlider input {
    -webkit-appearance: none;
    background: transparent;
    position: absolute;
    outline: none;
    border: none;
    height: 100%;
    width: 100%;
    border-radius: 0.2em;
    z-index: 2;
}

#volumeSlider input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 2.15vh;
    height: 2.15vh;
    cursor: pointer;
    transition: box-shadow 0.5s;
    background: #c8c7d8;
    box-shadow: 0 0 0 3px #1a1a1a;
}

#volumeSlider input:hover::-webkit-slider-thumb {
    box-shadow: 0 0 0 4px #3a3a3a;
}

#volumeSlider input:active::-webkit-slider-thumb {
    box-shadow: 0 0 0 3px #5f5f5f;
}

#volumeSlider div {
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    background: #c8c7d8;
    z-index: 1;
}

.dropdown {
    position: absolute;
    flex-direction: column;
    z-index: 1;
    margin: 0;
    margin-bottom: 2vh;
    padding: 0;
    right: 0vw;
    bottom: 105%;
    text-align: center;
}

.line {
    position: absolute;
    width: 0.2vmax;
    height: 80%;
    right: 0;
    background-color: #d9d8e2;
    bottom: 0.2vmax;
    z-index: 20;
}

.spaceFiller {
    height: 5px;
}

.dropdown div:not(.line):not(.horizontalLine) {
    position: relative;
    margin: 0;
    margin-right: 1.5vmax;
    padding: 0.5vh 0;
    text-align: right;
}

.horizontalLine {
    position: absolute;
    right: -1.5vmax;
    bottom: 38%;
    background-color: #d9d8e2;
    height: 0.23vmax;
    width: 1vmax;
    margin: 0 !important;
    padding: 0 !important;
}

.dropdownSelected {
    color: #5a5a61 !important;
    cursor: not-allowed;
}

.dropdownSelected>.horizontalLine {
    background-color: #5a5a61 !important;
    cursor: not-allowed;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 !important;
}

.mobileOnly {
    display: none;
}

.visualiser {
    position: relative;
    margin-top: 10vh;
    width: 40vw;
    height: 30vh;
    overflow: hidden;
}

#visualiserBg {
    position: absolute;
    top: 0;
    left: -2%;
    width: 104%;
    height: 100%;
    background: linear-gradient(to right,
            #0c0c11 0%,
            #0c0c11 3%,
            rgba(12, 12, 17, 0) 15%,
            rgba(12, 12, 17, 0) 85%,
            #0c0c11 97%,
            #0c0c11 100%);
    z-index: 1;
}

.overlay h2 {
    color: lightgray;
}

.overlay input {
    width: 4vw;
    font-size: 1em;
}

.hoverBtn:hover {
    opacity: 0.7;
}

.numberInput {
    font-size: 1.2vmax;
}

@media screen and (max-height: 400px) {
    .fullOnly {
        display: none !important;
    }

    h1 {
        font-size: 5vw;
    }

    h2 {
        font-size: 3vw;
    }

    .alwaysVisible {
        width: 95% !important;
        font-size: 3vw !important;
    }

    #progressbar {
        height: 6vh !important;
    }

    #main {
        justify-content: space-between;
        height: 80vh;
        padding: 0;
    }

    #bottomBar {
        justify-content: center !important;
        height: 20vh;
    }

    #setInfo {
        width: 50vw;
        margin: 0;
        flex-grow: 1;
        max-height: 80vh;
    }

    #cover {
        margin: 2vw;
        height: calc(80vh - 4vw);
        object-position: left;
    }

    body {
        outline: 3px auto rgba(0, 0, 0, 0.5);
        outline-offset: -3px;
    }
}

@media screen and (min-height: 401px) and (max-width: 500px) {
    * {
        flex-direction: column !important;
    }

    .fullOnly {
        display: none !important;
    }

    #main {
        height: 80%;
        padding: 0;
        justify-content: start;
    }

    #cover {
        margin: 5vw 0;
        width: 90vw;
        height: auto;
    }

    #bottomBar {
        height: 20%;
        justify-content: center !important;
    }

    #main>div {
        text-align: center;
        width: 100%;
    }

    .alwaysVisible {
        width: 95% !important;
        font-size: 2.5vmax !important;
    }

    #progressbar {
        height: 2vh !important;
        width: 95%;
        margin-top: 1.5vh;
    }

    h1 {
        font-size: 5vmax;
    }

    h2 {
        font-size: 2.5vmax;
    }

    #setInfo {
        margin-top: -2vh;
    }

    .mobileOnly {
        display: flex;
        height: 5vh;
        margin-bottom: 1vh;
        align-items: center;
        width: 40vw;
        font-size: 3vmax;
    }

    .visualiser {
        margin-top: 6vh !important;
        width: 90%;
        height: 10vh;
        margin: 0 auto;
    }

    .numberInput {
        font-size: 3vmax;
        display: flex;
        flex-direction: row !important;
    }

    .numberInput input {
        width: 100%;
    }

    .overlay h2 {
        font-size: 3vmax;
    }

    h3 {
        font-size: 2vmax;
    }

    h3.visualiser {
        padding-top: 3vh;
    }
}

@media screen and (max-height: 250px) {

    h1,
    h2 {
        float: left;
        width: 40%;
    }

    h2 {
        position: absolute;
        top: 40vh;
    }

    .visualiser {
        width: 50%;
    }
}